li{
    list-style: none;
}
.product {
  padding: 20px 0;
}
.carticon{font-size: 25px;}


.card-img-top img {
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  object-fit: cover;
  display: block;
}
.card{
    margin: auto;
}
/* ///media */
@media (max-width: 477px) {
  .cadssd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin-bottom: 30px !important;
    text-align: center;
  }


}

@media (max-width: 799px) {
  .cadssd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin-bottom: 30px !important;
    text-align: center;
  }


}

@media (max-width: 992px) {
  .cadssd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin-bottom: 30px !important;
    text-align: center;
  }


}

@media (max-width: 1024px) {
  .cadssd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin-bottom: 30px !important;
    text-align: center;
  }


}


#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#prodetails .single-pro-details span {
  line-height: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
/* end sproductdetails */
/* start media shop page */
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
}

